<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="admin/fragments::header">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul th:replace="admin/fragments::sidebar"></ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav th:replace="admin/fragments::topbar"></nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Users</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
          For more information about DataTables, please visit the <a target="_blank"
                                                                     href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Users</h6>
            <a th:href="@{/admin/user/add}" class="btn btn-success btn-icon-split right">
              <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
              </span>
              <span class="text">Add User</span>
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Avatar</th>
                  <th>Phone</th>
                  <th>Roles</th>
                  <th>Actived</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Avatar</th>
                  <th>Phone</th>
                  <th>Roles</th>
                  <th>Actived</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="user, step : ${users}">
                  <td scope="row" th:text="${step.index + 1}"></td>
                  <td th:text="${user.username}"></td>
                  <td th:text="${user.email}"></td>
                  <td th:text="${user.firstName}"></td>
                  <td th:text="${user.lastName}"></td>
                  <td >
                    <img style="height: 40px; width: 40px;"
                          th:src = "@{'/customer/images/' + ${user.icon}}"
                          th:if="${user.icon}" />
                  </td>
                  <td>[[${user.phoneNumber}]]</td>
                  <td th:text="${user.roles}"></td>
                  <td>
                    <form th:action="@{'/admin/user/active/' + ${user.id}}" method="POST">
                      <button type="submit"
                              class="btn btn-outline"
                              th:text="${user.actived ? true : false}"></button>
                    </form>
                  </td>
                  <td>
                    <a th:href="@{/admin/user/update/{id} (id = ${user.id})}" class="btn btn-primary" >
                      Edit
                    </a>
                  </td>

                  <td>
                    <form class="inline-flex" th:action="@{/admin/user/delete/{id} (id = ${user.id})}" method="POST">
                      <button type="submit" class="btn btn-outline-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${currentPage}">
                  <li th:if = "${currentPage != 0}" class="page-item">
                    <a th:href="@{'/admin/products/' + ${currentPage - 0}}" class="page-link" href="#">Previous</a>
                  </li>
                  <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                    <a th:href="@{'/admin/products/' + ${i - 1}}" class="page-link" href="#"><span th:text = "${i}"></span></a>
                  </li>
                  <li th:if = "${currentPage + 1 != totalPages}" class="page-item">
                    <a th:href="@{'/admin/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer th:replace="admin/fragments::footer"></footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="admin/fragments::scroll_top"></a>

<!-- Logout Modal-->
<div th:replace="admin/fragments::logout_modal">
</div>

<div  th:replace="admin/fragments::js"></div>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

</body>

</html>