<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="customer/fragments::head"></head>


<body>

<!-- Header -->
<header th:replace="customer/fragments::header"></header>


<section id="register-form mt-30" class="main register">
  <div class="content row">
    <div class="col-4"></div>
    <div class="col-4">
      <h2 class="text-center">Register</h2>
      <div th:if = "${error}" class="text-center alert alert-danger">
        <p th:text="${error}"></p>
      </div>
      <div th:if = "${username}" class="text-center alert-warning">
        <p th:text="${username}"></p>
      </div>
      <div th:if = "${password}" class="text-center alert-warning">
        <p th:text="${password}"></p>
      </div>
      <div th:if = "${success}" class="text-center alert-success">
        <p th:text="${success}"></p>
      </div>
      <form class="register-form form mt-2" th:action="@{/register}" method="post" th:object="${customerDto}">
        <div class="form-outline mt-2">
          <input class="form-control" type="text" th:field = "*{firstName}" placeholder="first name" name="">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
             th:errors = "*{firstName}"
        ></div>
        <div class="form-outline mt-2">
          <input class="form-control" type="text" th:field = "*{lastName}" placeholder="last name" name="">
        </div>
        <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('lastName')}"
             th:errors = "*{lastName}"
        ></div>
        <div class="form-outline mt-2">
          <input class="form-control" type="email" th:field = "*{username}" placeholder="email" name="">
        </div>
        <div class="form-outline mt-2">
          <input class="form-control" type="text" th:field = "*{phone}" placeholder="phone" name="">
        </div>
        <div class="form-outline mt-2">
          <input class="form-control" type="password" th:field = "*{password}" placeholder="password" name="">
        </div>
        <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('password')}"
             th:errors = "*{password}"
        ></div>
        <div class="form-outline mt-2">
          <input class="form-control" type="password" th:field = "*{re_password}" placeholder="verify password" name="">
        </div>
        <div class="form-outline mt-2">
          <p class="link link-login small">Do You already have an account? <a th:href="@{/login}"> Sign in now </a></p>
        </div>
        <div class="form-outline text-right mt-3">
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>

</section>

<!-- Footer -->
<footer th:replace="customer/fragments::footer"></footer>

<!-- Back to top -->
<div th:replace="customer/fragments::back_top"></div>

<!-- Script -->
<div th:replace="customer/fragments::script"></div>

</body>

</html>