<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="customer/fragments::head"></head>
<body class="animsition">

	<!-- Header -->
	<header th:replace="customer/fragments::header"></header>

	<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Home
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>

				<span class="stext-109 cl4">
					Wishlist
				</span>
			</div>
		</div>


	<!-- Shoping Cart -->
	<section class="main bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row" th:if="${check}">
				<div class="col-lg-9 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div>Not found item in wishlist</div>
					</div>
				</div>
			</div>
			<div class="row"  th:if="${wishlist}">
				<div class="col-lg-9 col-xl-8 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--20 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
								</tr>
								<tr class="table_row" th:if="${wishlist.wishItems}" th:each="item : ${wishlist.wishItems}">
										<form th:action="@{/delete-wishitem/{id} (id = ${item.id})}" th:method="GET">
											<td class="column-1">
												<button type="submit" name="action" value="delete">
													<div class="how-itemcart1">
														<img th:src="@{'/customer/images/' + ${item.product.image}}" alt="IMG">
													</div>
												</button>
											</td>
										</form>
										<td class="column-2" th:text="${item.product.name}"></td>
										<td class="column-3" th:text="'$' + ${item.product.costPrice}"></td>

								</tr>
							</table>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer th:replace="customer/fragments::footer"></footer>

	<!-- Back to top -->
	<div th:replace="customer/fragments::back_top"></div>

	<!-- Script -->
	<div th:replace="customer/fragments::script"></div>

</body>
</html>